@import "bulma/css/bulma.min.css";

.avatar {
    width: 30px;
    border-radius: 50%;
}

.approved {
    border: green solid 2px;
}

.changes {
    border: darkorange solid 2px;
}

.counters {
    margin-bottom: 20px;
}

.counter {
    padding-left: 10px;
    padding-right: 10px;
}

table.reviews td {
    padding-left: 10px;
    padding-right: 10px;
}

.pipeline-state {
    padding-top: 8px;
}
